<%- include('partials/header.ejs') %>
<div class="px-4 py-5  text-center" style="background-image: url(https://images.unsplash.com/photo-1436262513933-a0b06755c784?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBsYWluJTIwY29sb3JzfGVufDB8fDB8fHww);">
    <!-- <img class="d-block mx-auto mb-4" src="https://media.licdn.com/dms/image/D5635AQHcM_zxYjQ97w/profile-framedphoto-shrink_400_400/0/1706428209714?e=1711958400&v=beta&t=ZzsBPEhn-WCC-Ta6Syq0N3c3inyaJcRZGQPMuRrvQVA" alt="" width="72" height="57" style="border-radius: 53%;" > -->
    <h1 class="display-5 fw-bold text-body-emphasis">About Me</h1>
    <div class="col-lg-12 mx-auto">
      <p class="lead mb-4">Dedicated IT Professional and Strong knowledge on Python,JavaScript and PostgreSQL. Bringing 1.3 years of Hans on experience in managing complex IT operations, specializing in Middleware applications and Windows/Unix server troubleshooting. Proficient in advanced Middleware application management, adept at handling intri technical issues.Skilled in technical support, solution configuration, and collaboration with cross functional teams to deliver exceptional results. Known for meticulous adherence to company policies, fostering cross department collaboration, and optimizing system performance through effective evaluation and configuration changes. Eager to leverage expertise and passion for Python programming in a challenging Python Developer role, contributing to innovative projects and solutions.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="https://www.linkedin.com/in/priyankavelugu/">LinkedIn</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
