<%- include('partials/header.ejs') %>

<div class="px-4 py-5  text-center" style="background-image: url(https://images.unsplash.com/photo-1436262513933-a0b06755c784?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHBsYWluJTIwY29sb3JzfGVufDB8fDB8fHww);">
  <h1 style="text-align: center;">Let's Connect</h1>
    <!-- <img class="d-block mx-auto mb-4" src="https://media.licdn.com/dms/image/D5635AQHcM_zxYjQ97w/profile-framedphoto-shrink_400_400/0/1706428209714?e=1711958400&v=beta&t=ZzsBPEhn-WCC-Ta6Syq0N3c3inyaJcRZGQPMuRrvQVA" alt="" width="72" height="57" style="border-radius: 53%;" > -->
    <p class="display-5 fw-bold text-body-emphasis">Priyanka Velugu</p>
    <div class="col-lg-4 mx-auto">
      <p class="lead mb-4 ">Thanks for visiting! Send a connection request on <a href="https://www.linkedin.com/in/priyankavelugu/">LinkedIn</a> or let's connect over a quick Zoom!</p>
      <div class=" container row  gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3"><a href="https://www.linkedin.com/in/priyankavelugu/">LinkedIn</a></button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
